
.sapUiBody {
	scrollbar-base-color:#666666;
	scrollbar-face-color:#000000;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-darkshadow-color:#666666;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-track-color:#666666;
	scrollbar-highlight-color:#000000;
}