/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)
 *
 * (c) Copyright 2009-2012 SAP AG. All rights reserved
 */
/* Global CSS for 'base' theme */
/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
/* may be required by SubstitutionRulesManager.css in inbox lib */
/* ---------------------------------------------------------------------------------------- */
/* Global CSS for 'sap_ux' theme */
/* ---------------------------------------------------------------------------------------- */
/* Shared CSS for 'base' theme */
.sapUiBody {
  background-color: #eaf1f6;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* to prevent touch highlight on the entire body */

}
.sapUiArea {
  background-color: #eaf1f6;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
/* 
 * used for static (Core) and hidden (HTML) area 
 * (TODO: think about renaming static area also to hidden since static is not
 *        required for newer browsers anymore => position: static) 
 */
.sapUiHidden {
  position: absolute;
  visibility: hidden;
  top: -10000px;
  background-color: #eaf1f6;
  /* repeat the body style in case the application adapts it */

  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.sapUiCorePlaintext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 18px;
}
.sapUiCoreDefaultFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.sapUiCoreDefaultCursor {
  cursor: default;
}
.sapUiBLy {
  background-color: #CCCCCC;
  opacity: 0.6;
  filter: alpha(opacity=60);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  outline: 0 none;
}
[data-sap-ui-type] {
  visibility: hidden;
}
/* Shared CSS for 'sap_ux' theme */
.sapUiBLy {
  /* UX spec */

  background-color: black;
  opacity: 0.25;
  filter: alpha(opacity=25);
}
.sapUiBliLy {
  position: absolute;
  display: inline-block;
}
.sapUiBliLy > iframe {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0.01;
  filter: alpha(opacity=1);
  width: 100%;
  height: 100%;
}
.sapUiBody {
  scrollbar-face-color: #C5DBEC;
  scrollbar-highlight-color: #899CAC;
  scrollbar-3dlight-color: #F3F6F9;
  scrollbar-darkshadow-color: #F3F6F9;
  scrollbar-shadow-color: #899CAC;
  scrollbar-arrow-color: #394452;
  scrollbar-track-color: #F3F6F9;
}
.sapUiBusy {
  background-image: url(img/Busy.gif);
  display: block;
  width: 48px;
  height: 48px;
  outline: none;
  cursor: wait;
}
.sapUiBlyBusy {
  cursor: wait;
}
.sapUiBlyBusy {
  background-color: #eaf1f6;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.sapUiLocalBusyIndicator {
  background-color: rgba(234, 241, 246, 0.72);
}
HTML[data-sap-ui-browser='ie8'] .sapUiLocalBusyIndicator {
  background-color: #eaf1f6;
}
.sapUiLocalBusyIndicatorAnimation {
  position: relative;
}
.sapUiLocalBusyIndicatorBox {
  width: 8px;
  height: 8px;
  background-color: #dfebf5;
  float: left;
  display: block;
  margin-left: 8px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition-property: background-color;
  -moz-transition-duration: 380ms;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 380ms;
  -webkit-transition-timing-function: ease-in;
  transition-property: background-color;
  transition-duration: 380ms;
  transition-timing-function: ease-in;
}
.sapUiLocalBusyIndicatorBox:first-child {
  margin-left: 0;
}
/* ============================================= */
/* CSS for control sap.ui.core/ScrollBar.control */
/* ============================================= */
.sapUiScrollBarTouch ::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  -webkit-appearance: none;
}
.sapUiScrollBarTouch ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.sapUiShd {
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}
/*
 * TODO decide whether shadow should generally be enabled for IE8 (will break QTP tests, so visual benefit must be worth the effort ;-)
html[data-sap-ui-browser=ie8] .sapUiShd {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#808080')";
}
*/
.sapUiTInf {
  border: 1px solid #93b2d0;
  background: #eaf1f6;
  padding: 6px;
}
.sapUiTInfCfg {
  font-size: 0.9em;
}
.sapUiTInfMList {
  font-size: 0.9em;
  color: #8b8f96;
  overflow-y: auto;
  max-height: 12em;
}
.sapUiTInfMEmbd {
  color: #aaaaaa;
}
.sapUiTInfMFail {
  text-decoration: line-through;
}
.sapUiTInfMMore {
  text-decoration: underline;
  cursor: pointer;
}
.sapUiTInf {
  border-radius: 10px;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#e5edf4), to(#bbd2e4));
  background: -moz-linear-gradient(top, #e5edf4, #bbd2e4);
}
html[data-sap-ui-browser=ie8] .sapUiTInf.sapUiShd {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr=#E5EDF4,EndColorStr=#BBD2E4) progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#808080')" !important;
}
/* ========================================= */
/* CSS for control sap.ui.core/View.control  */
/* ========================================= */
.sapUiView {
  display: inline-block;
}
