
/* ============================================= */
/* CSS for control sap.m/Label.control */
/* ============================================= */

.sapMLabel {
	color: @sapUiText;
	font-size: @sapUiFontSize;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.sapMLabelBold {
	font-weight: bold;
}