.sapUiTInf {
  border: 1px solid @sapUiMediumBorder;
	background: @sapUiExtraLightBG;
  padding: 6px;
}

.sapUiTInfCfg {
	font-size:0.9em;
}

.sapUiTInfMList {
	font-size:0.9em;
	color:@sapUiTextDisabled;
	overflow-y:auto;
	max-height:12em;
}

.sapUiTInfMEmbd {
	color:#aaaaaa;
} 

.sapUiTInfMFail {
	text-decoration:line-through;
}

.sapUiTInfMMore {
	text-decoration:underline;
	cursor:pointer;
}

